html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

header {
  background-color: #79756f;
  border-top: solid #595652;
  border-bottom: solid #595652;
  width: auto;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Bevan, cursive;
}

nav ul {
  text-align: center;
  list-style-type: none;
  padding-inline-start: 0;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: #713837;
  color: #fff;
  padding: .5em .75em;
  border-radius: 3px;
  text-decoration: none;
  font-family: sans-serif;
  line-height: 1.5;
  display: inline-block;
  margin: .3em;
}

nav a:hover {
  background-color: #f33;
}
